<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="utility.Listners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
    <class name="PetStore.AddNewPet"/>
      <class name="PetStore.getPetStatus"/>
      <class name="PetStore.updatePet"/>
      <class name="PetStore.UpdatePhoto"/>
   
    <class name="PetStore.AddUser"/>
      <class name="PetStore.GetUser"/>
      <class name="PetStore.UserLogin"/>
      <class name="PetStore.UserLogOut"/>
         <class name="PetStore.DeleteUser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
